{# File Version 1.0 [1.10.2019] #}

{% extends 'app.twig' %}

{% block content %}
    {% if error == '404' %}
        <div class="text-center mt-5">
            <div class="error mx-auto" data-text="404">
                <p class="m-0">404</p>
            </div>
            <p class="text-dark mb-5 lead">Page Not Found</p>
            <p class="text-black-50 mb-0">It looks like you found a glitch in the matrix...</p><a href="/">← Back to Dashboard</a>
        </div>
    {% elseif error == '405' %}
        <h5 class="text-center">The method specified in the Request-Line is not allowed for the specified resource.</h5>
    {% elseif error == '500' %}
        <h5 class="text-center">The request was unsuccessful due to an unexpected condition encountered by the server.</h5>
    {% endif %}
{% endblock %}
