{# File Version 1.1 [2.10.2019] #}

<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright">
            <span>
                <a class="text-muted" style="text-decoration: none" href='{{ path_for('legal.imprint') }}' target='_blank'>
                    Impressum
                </a>
                &nbsp;
                <a class="text-muted" style="text-decoration: none" href='{{ path_for('legal.privacy') }}' target='_blank'>
                    Datenschutz
                </a>
                <br>
                Copyright &copy; {{ 'now'|date('Y') }} {{ footer_company }} und/oder mit ihr verbundene Unternehmen.
            </span>
        </div>
    </div>
</footer>